<!DOCTYPE html>
<html>
<head>
    <title>Liste des Emprunts</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Liste des Emprunts</h1>
    <ul>
        {% for emprunt in emprunts %}
        <li>
            {{ emprunt.materiel.nom }} emprunté par {{ emprunt.possesseur.nom }} le {{ emprunt.date_emprunt|date:"F j, Y, g:i a" }}
            {% if emprunt.date_retour %}
                (retourné le {{ emprunt.date_retour|date:"F j, Y, g:i a" }})
            {% else %}
                <a href="{% url 'emprunt_return' emprunt.id %}">Marquer comme retourné</a>
            {% endif %}
            <br>
            Commentaires : {{ emprunt.commentaires }}
            <br>
            Accessoires :
            <ul>
                {% for accessoire in emprunt.materiel.accessoires.all %}
                <li>{{ accessoire.nom }} (État : {{ accessoire.etat }})</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Retour à la liste des matériels</a>
</body>
</html>
