<!DOCTYPE html>
<html>
<head>
    <title>Accueil - Gestion de Prêt de Matériel</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur l'application de Gestion de Prêt de Matériel</h1>
        <ul>
            <li><a href="{% url 'liste_materiels' %}">Voir la liste des matériels</a></li>
            <li><a href="{% url 'emprunt_list' %}">Voir la liste des emprunts</a></li>
            <li><a href="{% url 'add_enseignant' %}">Ajouter un Enseignant</a></li>
            <li><a href="{% url 'add_materiel' %}">Ajouter un Matériel</a></li>
            <li><a href="{% url 'add_accessoire' %}">Ajouter un Accessoire</a></li>
            <li><a href="{% url 'budget_list' %}">Voir la Liste des Achats</a></li>
            <li><a href="{% url 'liste_responsables' %}">Voir la liste des responsables</a></li>
            <li><a href="{% url 'liste_salles' %}">Voir la liste des salles</a></li>
        </ul>
    </div>
</body>
</html>
