<!DOCTYPE html>
<html>
<head>
    <title>Matériels du Responsable : {{ responsable.nom }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Matériels du Responsable : {{ responsable.nom }}</h1>
    <ul>
        {% for materiel in materiels %}
        <li>
            {{ materiel.nom }} (Salle : {{ materiel.salle_actuelle.numero }}, Possesseur actuel : {{ materiel.possesseur_actuel.nom }})
            <ul>
                <li>Budget: {{ materiel.get_budget_display }}, Montant: {{ materiel.montant }}€</li>
                <li>Accessoires :
                    <ul>
                        {% for accessoire in materiel.accessoires.all %}
                        <li>{{ accessoire.nom }} (État : {{ accessoire.etat }})</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Retour à la liste des matériels</a>
</body>
</html>
